body{
  
  background-image: linear-gradient(rgba(0,0,0,0,5), rgba(0,0,0,0,5)),url(image/bgq.jpg);
  background-size: cover;
  background-position: center;
  background-attachment:fixed;
  width: 80%
  height: 20px solid #2370a5;
  font-famiy: source sans Pro, Times-New Roman;
  padding: 90px;
  margin: 20px auto;
  max-width: 700px
}
.blog
{
    margin-bottom: 2opx;
}
.date
{
 color: black;
 letter-spacing: 0.2rem;
 text-transform: uppercase;
 font-weight: 900;
}
.paragraph{
 border-left: 5px solid #2370a6;   
 padding-left: 5px;
}
h2{
 font-size: 2.0rem
 color: fff;
}
hr{
  border: 0;
  height: 0;
  border-top: 20px solid #fff;
  border-bottom: 20px solid #fff;
}
p{
 color:black;
 font-weight:100; 
}
